body {
  /*height: 100%;*/
}

#header {
  padding-top: 110px;
  background-color: #F5DEB3;
  width: 100%;
  height: 300px;
  text-align: center;
  vertical-align: middle;
  }

h1 {
  font-weight: bold;
  font-size: 50px;
}

#sidebar {
  position: absolute;
  background-color: #8FBC8E;
  /*float: left;*/
  width: 500px;
}

#sidebarContent {
  height: 100%;
}

#content {
  padding-top: 20px;
  background-color: #E6E6E6;
  width: 100%;
  height: 100%;
}

#pingpong {
margin-left: 530px;
}

h3 {
  font-weight: bold;
}

h4 {
  font-weight: bold;
}

span {
  font-weight: bold;
}

.btn-default {
  background-color: #BEBEBE;
}
