body {
  height: 100%;
}

#header {
  padding-top: 110px;
  background-color: tan;
  width: 100%;
  height: 300px;
  text-align: center;
  vertical-align: middle;
  border:solid;
}

#sidebar {
  position: relative;
  background-color: #B1DDA1;
  float: left;
  width: 500px;
  height: 100%;
border:solid;
}

#content {
  padding-top: 20px;
  background-color: lightgrey;
  width: 100%;
  height: 100%;
}

#pingpong {
margin-left: 530px;
}
